main{
  width: 1250px; margin: 5px auto; 
  height: 600px;
  border:1px solid grey;
  display: grid; color: white;
  grid-template-rows: 1px 599px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2px;
  
 }
 
 .container1{ background-color: whitesmoke; 
  grid-row:1/6;
   grid-column: 1/12;
  width: 1250px;
  height: 1px;
 }
 
  .div2{ background-color: white; 
   grid-row:2/2;
    grid-column: 1/12;
   width: 1250px;
   height: 600px;
  }
     
     

      .container {
        display: fixed;
       
      }
      
      .drawing-area {
        box-shadow: 0 0 6px 0 #999;
        background-color: transparent;
        
      }
      .button1{
        width: 80px;
        height: 50px;
        background-color: #118DFF;
        border-radius: 5px;
        color: white;
        font-size: larger;
        text-align: center;
      }
      .button1:hover{
        width: 80px;
        height: 50px;
        background-color: greenyellow;
        border-radius: 5px;
        color:black;
        font-size: larger;
        align-content: center;
      }
    
      .buttoncounter{
        width: 50px;
        height: 50px;
        position: fixed;
        margin-left: 30px;
        
      }
      .buttoncounter1{
        width: 50px;
        height: 50px;
        position: fixed;
        margin-left: 90px;
     background-color: #118DFF;
       border-radius: 50%;
        
        
      }
      .buttoncounter2{
        width: 200px;
        height: 81px;
        position: fixed;
        margin-left: 900px;
        background-image: url(images/bus.gif);
        border: 0px;
        border-color: blue;
        
      }
      .buttoncounter3{
        width: 50px;
        height: 50px;
        position: fixed;
        margin-left: 200px;
        width: 0;
	      height: 0;
	      border-left: 25px solid transparent;
	      border-right: 25px solid transparent;
	      border-bottom: 50px solid rgb(7, 35, 245);
      }
      .buttoncounter4{
        width: 100px;
        height: 49px;
        position: fixed;
        margin-left: 700px;
        background-color: blanchedalmond;
        border: none;
      
        background-image: url(images/car.gif);
        background-color: transparent;
        
      }
      .buttoncounter5{
        width: 80px;
        height: 65px;
        position: fixed;
        margin-left: 500px;
      
        border: none;
        background-image: url(images/tractor.png);
        
      }
      .buttoncounter6{
        width: 85px;
        height: 90px;
        position: fixed;
        margin-left: 800px;
      
        border: none;
       background-color: transparent;
        background-image: url(images/papaya.png);
        
      }
      .buttoncounter7{
        width: 85px;
        height: 70px;
        position: fixed;
        margin-left: 400px;
      
        border: none;
       background-color: transparent;
        background-image: url(images/pumkin.png);
        
      }
      .buttoncounter8{
        width: 50px;
        height: 70px;
        position: fixed;
        margin-left: 300px;
      
        border: none;
       background-color: transparent;
        background-image: url(images/eggplant.png);
        
      }
      #button{
        width: 120px;
        height: 50px;
        background-color: #118DFF;
        border-radius: 5px;
        color: white;
        font-size: larger;
        text-align: center;
      }
      #button:hover{
        width: 120px;
        height: 50px;
        background-color: greenyellow;
        border-radius: 5px;
        color:black;
        font-size: larger;
        align-content: center;
      }

      #button0{
        width: 80px;
        height: 50px;
        background-color: #118DFF;
        border-radius: 5px;
        color: white;
        font-size: larger;
        text-align: center;
      }
      #button0:hover{
        width: 80px;
        height: 50px;
        background-color: greenyellow;
        border-radius: 5px;
        color:black;
        font-size: larger;
        align-content: center;
      }
    
      .color{
        width: 50px;
        height: 50px;
      }
      .color1{
        width: 80px;
        height: 50px;
      }
    
      .color:hover{
        width: 50px;
        height: 50px;
        background-color: greenyellow;
        border-radius: 50%;
        border-color: aqua;
      }

     
      


      

      